pkgbase = thunder
	pkgdesc = An App Store For Python Projects
	pkgver = 0.0
	pkgrel = 1
	url = https://github.com/KorryKatti/Thunder
	arch = any
	license = MIT
	depends = tk
	source = https://github.com/KorryKatti/Thunder/releases/download/Debut/Thunder0.0.0.tar
	sha256sums = fb714eb529cd7a2994f3c5b6eb7ce72525c32c6c834fe6056e71a8cc1635ee16

pkgname = thunder
